
#gameboard {
    width:480px;
    height:520px;
    background-color: #f7fcf0;
    border-style: solid;
    border-width: 5px;
    border-color: #081d58;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #081d58;
}

#avatarGrid {
    width: 450;
    margin-left: auto;
    margin-right: auto;
}

#topBox {
    width: 465px !important;
    margin-left: auto !IMPORTANT;
    margin-right: auto !IMPORTANT;    
}

.avatarIcon {
    width: 55px;
    height: 55px;
    margin: 4px;
    padding: 4px;
    background-color: white;
}

.infobox {
    width:75px !important;
    height:85px !important;
    background-color: #253494 !important;
    border-style: solid !important;
    border-width: 5px !important;
    border-color: #081d58 !important;
    padding: 5px !important;
    margin: 10px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #ffffff !important;
    float: left !important;
    text-align: center !important;
}

.boxContents {
    width:60px !important;
    height:55px !important;
    background-color: #ffffff !important;
    padding: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5px !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #081d58 !important;
    text-align: center !important;
    font-size: xx-large;
}

.textContents {
    margin-top: 11px;
}

.playerImage {
    width: 50px !important;
    height: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    vertical-align: middle !important;
    background-color: #ffffff !important;
}

#imageCredit {
    width:480px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-size: small;
    margin-top: 30px;
}